/build/
/.idea/
/buildSrc/.gradle/
/buildSrc/build/
/integration-tests/build/
/spring-aop/build/
/spring-beans/build/
/spring-aspects/build/
/spring-context/build/
/spring-context-indexer/build/
/spring-context-support/build/
/spring-core/build/
/spring-expression/build/
/spring-instrument/build/
/spring-jcl/build/
/spring-jdbc/build/
/spring-jms/build/
/spring-learn/build/
/spring-messaging/build/
/**/build/
